body {
  overflow-x: hidden;
}

.text-primary {
  color: white !important;
}

.text-secondary {
  color: #2595eb !important;
}

.text-dark {
  color: gray !important;
}

.bg-primary {
  background-color: #2595eb !important;
}

main {
  background-color: #2595eb1a;
}

nav {
  height: 10%;
}

main {
  height: 90%;
}

@media (max-width: 576px) {
  .rounded-0-sm {
    border-radius: 0px !important;
  }
}

#tweets {
  height: fit-content;
  overflow-y: hidden;
}

#draftTweet {
  border-bottom: solid #2595eb1a 2px;
}

.tweet {
  height: fit-content;
  max-height: 25vh;
}

.userProfile {
  width: 3vw;
  height: 3vw;
}

textarea {
  background-color: inherit;
  resize: none;
  field-sizing: content;
}
