body {
  overflow-x: hidden;
}

main {
  background-color: #2595eb1a;
}

.header-name {
  color: #2595eb;
}

nav {
  height: 10%;
}

main {
  height: 90%;
}

textarea {
  background-color: inherit;
  resize: none !important;
}

#draftTweetButton {
  background-color: #2595eb;
  color: white;
  border-radius: 99999px;
  border: none;
  padding: 0.3vw 1vw;
}

.tweetUserId {
  color: gray;
}
